#container {
    height:100vh;
}

#game-container {
    width: 70%;
    margin: auto;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

#player-control-container {
    width: 50%;
    margin: auto;
    padding-bottom:20px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#header-container {
    width: 100%;
    text-align: center;
}

#gameboard-container {
    display: grid;
    grid-template-columns: 150px 150px 150px;
    grid-template-rows: 150px 150px 150px;
    align-self: center;
}

.squares {
    border: 1px solid black;
    text-align: center;
    line-height: 150px;
    font-size: 70px;
}
.squares:hover{
    background-color:red;
}
